<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    tools:ignore="LockedOrientationActivity">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />

    <application
        android:name=".activity.MyApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_config"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="UnusedAttribute">

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="@string/admob_app_id" />

        <meta-data
            android:name="applovin.sdk.key"
            android:value="@string/applovin_sdk_key" />

        <activity
            android:name=".activity.ActivitySplash"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.MainActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.ActivityUserLogin"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activity.ActivityUserRegister"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activity.ActivityEditProfile"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activity.ActivityForgotPassword"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ActivityFullScreenImage"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity
            android:name=".activity.ActivityComments"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".activity.ActivityCategoryDetails"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity
            android:name=".activity.ActivityPrivacyPolicy"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity
            android:name=".activity.ActivityPublisherInfo"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity
            android:name=".activity.ActivityYoutubePlayer"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity
            android:name=".activity.ActivityVideoPlayer"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity
            android:name=".activity.ActivityWebView"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity
            android:name=".activity.ActivityWebViewImage"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity
            android:name=".activity.ActivityPostDetails"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity
            android:name=".activity.ActivityNotificationDetails"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity
            android:name=".activity.ActivityImageSlider"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity
            android:name=".activity.ActivitySettings"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity
            android:name=".activity.ActivitySettingsNew"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity
            android:name=".activity.ActivitySearch"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:windowSoftInputMode="stateVisible" />
        <activity
            android:name=".activity.ActivityRedirect"
            android:configChanges="orientation|keyboardHidden|screenSize" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <service
            android:name=".notification.MyFirebaseMessageService"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_stat_onesignal_default" />

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/color_light_primary" />

        <meta-data
            android:name="com.onesignal.NotificationOpened.DEFAULT"
            android:value="DISABLE" />

    </application>

</manifest>